h1{
	font-weight: bold;
	color: blue;
	font-size:200%;
}

h2{
	color: teal;
	font-size: large;
	text-align: justify;
}

h3{
	text-align: justify;
	font-weight: bold;
	color: mediumvioletred;
	text-align: justify;
}

.menu{

}


a:link { color: blue; text-decoration: none;}
a:visited { color: blue; text-decoration: none;}
a:active { color: blue; text-decoration: none;}
a:hover { color: red; text-decoration: underline;}

dl.rireki { color: white; background-color: teal; }
dl.license { color: white; background-color: violet; }
